.red-coleccion1 {
  color: #313030; }

.red-coleccion2 {
  color: #d60c0c; }

.card, .tarjeta {
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.1); }

.avatar, .tarjeta > img {
  width: 100px;
  height: 100px;
  border-radius: 100px; }

.tittle, .tarjeta > h3 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 4px;
  opacity: 0.85; }

.small {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.75; }

.tarjeta {
  max-width: 300px;
  text-align: center; }

* {
  margin: 0;
  padding: 0; }

h1 {
  display: none; }

.superior {
  background: #313030;
  flex-direction: row; }

.logo-proandroid {
  display: none; }

.buscador {
  display: none; }

.buscador-menu {
  margin-left: 25%;
  position: center;
  display: flex;
  position: realtive;
  max-width: 40%;
  flex-direction: row; }

.buscador-menu > input[type=text],
.buscador-menu > button {
  display: block;
  margin: 5%; }

.buscador-menu > input[type=text] {
  flex: auto;
  border: 2px solid red; }

.buscador-menu > button {
  padding: 5px 5px;
  background-color: #d60c0c;
  color: white;
  border: none; }

#check {
  display: none; }

.checkbtn {
  background-color: #313030;
  font-size: 30px;
  color: #d60c0c;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  text-align: center; }

nav {
  background-color: #313030; }

.menu {
  display: none;
  flex-direction: row;
  list-style: none;
  background: #313030; }
  .menu li {
    flex-direction: row; }
    .menu li a:hover {
      background: #d60c0c; }
    .menu li a {
      text-decoration: none;
      color: white;
      padding: 15px;
      display: block;
      text-align: center; }

input:checked ~ .menu {
  display: block; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f1ebeb; }

.usuario {
  display: none; }

.colecciones-home {
  margin-left: 20%;
  align-items: center;
  justify-content: center; }
  .colecciones-home :hover {
    background: #d60c0c; }

.retiros-home {
  text-align: center;
  color: #d60c0c; }

.ws-boton {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px; }

.pie {
  text-align: center;
  display: flex;
  color: #777777;
  background: #313030;
  padding: 15px;
  font-family: 'Roboto Condensed', sans-serif; }

.login {
  text-align: center; }

.txt-accesorios {
  text-align: center; }

.pag-mayorista {
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none; }

.tabla-mayoristas {
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid;
  padding: 3px; }

.txt-nosotros {
  text-align: center; }

.txt-repuestos {
  text-align: center; }

@media screen and (min-width: 768px) {
  .logo-proandroid {
    display: flex;
    margin-left: 8px;
    width: 70%;
    padding: none; }
  .logo-menu {
    display: none; }
  .menu {
    display: flex;
    list-style: none;
    background: #313030; }
    .menu li {
      display: inline-block; }
      .menu li a {
        text-decoration: none;
        color: white;
        padding: 15px;
        display: block;
        text-align: center; }
      .menu li a:hover {
        background: #d60c0c; }
  .usuario-menu {
    display: none; }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none; }
  #check {
    display: none; }
  .superior {
    background: #313030;
    display: flex;
    height: 100%; }
  .colecciones-home {
    margin-left: 10%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .buscador-menu {
    display: none; }
  .buscador {
    display: flex;
    position: realtive;
    width: 40%;
    flex-direction: row; }
  .buscador > input[type=text],
  .buscador > button {
    display: block; }
  .buscador > input[type=text] {
    flex: auto;
    border: 2px solid red; }
  .buscador > button {
    padding: 5px 5px;
    background-color: #d60c0c;
    color: white;
    border: none; }
  .mapa-home {
    margin-left: 5%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .retiros-home {
    margin-top: 10%;
    font-size: 25px;
    color: #d60c0c; }
  .pag-mayorista {
    display: inline;
    flex-direction: row; }
  .pie {
    align-items: center;
    justify-content: center;
    text-align: center; }
  .usuario {
    display: flex;
    margin: 15px; }
    .usuario a {
      text-decoration: none;
      color: white;
      padding: 15px;
      display: block;
      text-align: center; }
    .usuario :hover {
      background: #d60c0c; } }
